* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header {
    display: flex;
    background-color: rgb(76, 100, 241);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

nav {
    display: flex;
    background-color: rgb(113, 209, 233);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;
    width: 42.5%;
}

.container .small-container {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    background-color: rgb(235, 220, 15);
    height: 15rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

article {
    display: flex;
    background-color: rgb(235, 149, 110);
    height: 15rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.container .small-container2 {
    display: flex;
    justify-content: end;
}

aside {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 30rem;
    width: 12rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

footer {
    display: flex;
    background-color: rgb(76, 100, 241);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
}