* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --cor-body: black;
    --cor-fonte: black;
    --cor-header-footer: rgb(76, 100, 241);
    --cor-nav: rgb(113, 209, 233);
    --cor-section: rgb(235, 220, 15);
    --cor-article: rgb(235, 149, 110);
    --cor-aside: white;
}

h1 {
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-body);
}

header {
    display: flex;
    background-color: var(--cor-header-footer);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

nav {
    display: flex;
    background-color: var(--cor-nav);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;
    width: 45rem;
}
.container .small-container {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    background-color: var(--cor-section);
    height: 15rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

article {
    display: flex;
    background-color: var(--cor-article);
    height: 15rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.container .small-container2 {
    display: flex;
    justify-content: end;
    width: 30rem;
}

aside {
    display: flex;
    background-color: var(--cor-aside);
    height: 30rem;
    width: 14rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

footer {
    display: flex;
    background-color: var(--cor-header-footer);
    height: 6.5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
}